<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <!-- Using pipe to subscribe (to the observable using async) and resolve the value (the array) -->
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="
          let ingredient of (ingredients | async).ingredients;
          let i = index
        "
        (click)="onEditItem(i)"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
Play 386. Using the Store Devtools 6min ￼Lecture incomplete. Progress cannot be
changed for this item. Play 387. The Router Store 2min ￼ Resources ￼Lecture
incomplete. Progress cannot be changed for this item. Play 388. Getting Started
with NgRx for Recipes 11min
